<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Trending Movies </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  @defer (when !isLoading) {
  <ion-list>
    @for (item of movies; track item.id) {
    <ion-item button [routerLink]="['/details', item.id]">
      <ion-avatar slot="start">
        <img
          [src]="imageBaseUrl + '/w92' + item.poster_path"
          alt="profile_image"
        />
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h3>{{ item.title }}</h3>
        <p>{{ item.release_date | date:'y' }}</p>
      </ion-label>
      <ion-badge slot="end">{{ item.vote_average }}</ion-badge>
    </ion-item>
    } @empty { @if(!isLoading) {
    <ion-item lines="none">
      <ion-label class="ion-text-center">No movies found</ion-label>
    </ion-item>
    } }
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
    <!-- <div class="infinite-scroll-content">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 100 100"
        enable-background="new 0 0 100 100"
        xml:space="preserve"
      >
        <circle
          fill="none"
          stroke="#1b6dff"
          stroke-width="4"
          stroke-miterlimit="10"
          cx="50"
          cy="50"
          r="48"
        />
        <line
          fill="none"
          stroke-linecap="round"
          stroke="#1b6dff"
          stroke-width="4"
          stroke-miterlimit="10"
          x1="50"
          y1="50"
          x2="85"
          y2="50.5"
        >
          <animateTransform
            attributeName="transform"
            dur="2s"
            type="rotate"
            from="0 50 50"
            to="360 50 50"
            repeatCount="indefinite"
          />
        </line>
        <line
          fill="none"
          stroke-linecap="round"
          stroke="#1b6dff"
          stroke-width="4"
          stroke-miterlimit="10"
          x1="50"
          y1="50"
          x2="49.5"
          y2="74"
        >
          <animateTransform
            attributeName="transform"
            dur="15s"
            type="rotate"
            from="0 50 50"
            to="360 50 50"
            repeatCount="indefinite"
          />
        </line>
      </svg>
    </div> -->
  </ion-infinite-scroll>
  } @placeholder {
  <ion-list style="padding: 20px 0">
    @for (i of dummyArray; track i) {
    <ion-item lines="none" class="ion-padding-bottom">
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>
      <ion-skeleton-text animated style="height: 40px" />
    </ion-item>
    }
  </ion-list>
  } @error {
  <ion-alert
    header="Error"
    [message]="error"
    isOpen="true"
    [buttons]="['Ok']"
  />
  } @loading(minimum 0.2s) {
  <ion-content
    fullscreen="true"
    color="primary"
    class="ion-text-center ion-padding"
  >
    <div class="infinite-scroll-content">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 100 100"
        enable-background="new 0 0 100 100"
        xml:space="preserve"
        style="width: 20px; height: 20px"
      >
        <circle
          fill="none"
          stroke="#fff"
          stroke-width="4"
          stroke-miterlimit="10"
          cx="50"
          cy="50"
          r="48"
        />
        <line
          fill="none"
          stroke-linecap="round"
          stroke="#fff"
          stroke-width="4"
          stroke-miterlimit="10"
          x1="50"
          y1="50"
          x2="85"
          y2="50.5"
        >
          <animateTransform
            attributeName="transform"
            dur="2s"
            type="rotate"
            from="0 50 50"
            to="360 50 50"
            repeatCount="indefinite"
          />
        </line>
        <line
          fill="none"
          stroke-linecap="round"
          stroke="#fff"
          stroke-width="4"
          stroke-miterlimit="10"
          x1="50"
          y1="50"
          x2="49.5"
          y2="74"
        >
          <animateTransform
            attributeName="transform"
            dur="15s"
            type="rotate"
            from="0 50 50"
            to="360 50 50"
            repeatCount="indefinite"
          />
        </line>
      </svg>
    </div>
  </ion-content>
  }
</ion-content>
